<% if current_user %>
  <h3>Welcome, <%= "#{current_user.first_name} #{current_user.last_name}" %></h3>
<% end %>

<div class="pictures">
  <img src="https://uproxx.files.wordpress.com/2016/04/trailer-park-boys-bubbles-1.jpg?quality=100&w=650" alt="Bubbles">
  <img src="http://mauiwatch.com/wp-content/uploads/2017/04/Harry-1.jpg" alt="Harry">
</div>