<h2>Squatch Reports</h2>

<ul>
  <% @squatch_reports.each do |report| %>
  <li>
    REPORT NUMBER: <%= link_to report.report_number, squatch_report_path(report.id) %>
  </li>
  <% end %>
</ul>

<%= will_paginate @squatch_reports %>
